@use './variables';

@mixin border($color, $value) {
  @if($value == 1) {
    border-radius: 5px;
  }
  border: .1rem solid $color;
}

.border-rounded {
  @include border(variables.$input-color, 0);
  border-radius: 5px;
}

@mixin btn {
  padding: variables.$grid-gutter;
  @include border(variables.$primary-colour, 0);
  color: variables.$white-color;
  cursor: pointer;
  background-color: variables.$primary-colour;
  &:hover {
    background-color: darken(variables.$primary-colour, 20%);
    color: variables.$white-color;
  }

  &--full-width {
    width: 100%;
    margin: 0 auto;
  }
}

.btn-rounded {
  @include btn;
  border-radius: 10px;
}

.btn-wide {
  @include btn;
  width: 100%;
}

.btn-medium {
  @include btn;
  width: 30%;
  margin-left: 20px;
  height: 40px
}

.btn-mg {
  margin-top: 30px;
}