$primary-colour: #3A54AA;
$secondary-color: #BBC4D9;
$white-color: #fff;
$input-color: #E7ECF4;
$black-color: #000;
$disabled-button-color: #d0d0d0;
$navbar-admin-color: #1d2327;

$background-navbar-admin: #2271b1;

$invalid-color: red;

$heading-shadow-size: .55rem;
$layout-margin: 2rem;
$grid-gutter: $layout-margin * .25;
