*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

p {
  font-family: Montserrat, "sans-serif";
  font-weight: normal;
  color: #000;
  font-size: 0.8em;
}

h1 {
  font-family: Montserrat, "sans-serif";
  font-weight: bold;
  color: #000;
  font-size: 2em;
}

h2 {
  font-family: Montserrat, "sans-serif";
  font-weight: bold;
  color: black;
  font-size: 1.25em;
}

input, label, textarea, button {
  font-family: Montserrat, "sans-serif";
  font-size: 0.8em;
  line-height: 0.8em;
}

.border-rounded {
  border: 0.1rem solid #E7ECF4;
  border-radius: 5px;
}

.btn-rounded {
  padding: 0.5rem;
  border: 0.1rem solid #3A54AA;
  color: #fff;
  cursor: pointer;
  background-color: #3A54AA;
  border-radius: 10px;
}
.btn-rounded:hover {
  background-color: #202e5e;
  color: #fff;
}
.btn-rounded--full-width {
  width: 100%;
  margin: 0 auto;
}

.btn-wide {
  padding: 0.5rem;
  border: 0.1rem solid #3A54AA;
  color: #fff;
  cursor: pointer;
  background-color: #3A54AA;
  width: 100%;
}
.btn-wide:hover {
  background-color: #202e5e;
  color: #fff;
}
.btn-wide--full-width {
  width: 100%;
  margin: 0 auto;
}

.btn-mg {
  margin-top: 30px;
}

.form {
  padding-bottom: 0.5rem;
}
.form__field {
  margin-bottom: 30px;
}
.form__field label {
  display: block;
  padding-top: 0.5rem;
}
.form__field input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 0.1rem solid #BBC4D9;
  padding: 0.5rem;
  background-color: #E7ECF4;
  color: #000;
  outline: none;
  margin-top: 10px;
}
.form__field input :focus-visible {
  border-radius: 5px;
  border: 0.1rem solid #3A54AA;
}
.form__field textarea {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: 0.1rem solid #BBC4D9;
  outline: none;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  background-color: #E7ECF4;
}

.main {
  width: 100vw;
  display: flex;
  height: calc(100vh - 40px);
}
.main__sidebar {
  width: 15%;
  height: 100%;
}
.main__content {
  height: 100%;
  overflow-y: auto;
  width: 85%;
  justify-content: center;
  display: flex;
  padding-top: 65px;
}
.main__content--child {
  width: 75%;
}

.main .form {
  margin-top: 50px;
}
.main .form__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin: 10px 0;
}
.main .formauthor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  margin: 10px 0;
}
.main .form__field--input {
  width: 48%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.main .form__field--textarea {
  width: 100%;
}
.main .form__button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  background-color: #d0d0d0;
  cursor: not-allowed;
  color: #000;
  border: none;
}

button:disabled:hover {
  background-color: #d0d0d0;
  cursor: not-allowed;
  color: #000;
  border: none;
}

button:active {
  padding: 0.5rem;
  border: 0.1rem solid #3A54AA;
  color: #fff;
  cursor: pointer;
  background-color: #3A54AA;
}
button:active:hover {
  background-color: #202e5e;
  color: #fff;
}
button:active--full-width {
  width: 100%;
  margin: 0 auto;
}

.mg-button {
  margin: 0 10px;
}

.overflow-body {
  overflow: hidden;
}

/*# sourceMappingURL=add-document.css.map */
